#body {
    border: 2px solid red;
    display: flex;
    flex-direction: flex;
    width: 100%;
    height: 100%;
  }
  
  #mapa {
    border: 2px solid red;
    width: 80%;
    height: 100vh;
  }
  
  #buscador {
    background-color: rgba(63, 63, 63, 0.801);
    border: 2px solid red;
    width: 20%;
    /* height: 100vh; */
  }
  
  #icono {
    width: 35xp;
    height: 35xp;
  }